# NextAuth (Auth.js v5)
AUTH_SECRET=

# Kakao Developers 
# KAKAO
AUTH_KAKAO_ID=
AUTH_KAKAO_SECRET=

# Naver
AUTH_NAVER_ID=
AUTH_NAVER_SECRET=

# Google
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

# Uvicorn backend server
BACKEND_URL=
