# NextAuth (Auth.js v5)
NEXTAUTH_SECRET=

# Kakao Developers 
# KAKAO
AUTH_KAKAO_ID=
AUTH_KAKAO_SECRET=
NEXT_PUBLIC_KAKAO_JS_KEY=

# Naver
AUTH_NAVER_ID=
AUTH_NAVER_SECRET=

# Google
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

# Uvicorn backend server
BACKEND_URL=
NEXT_PUBLIC_API_BASE_URL=
NEXT_IMAGE_S3_HOSTNAME=
