# AWS Settings
S3_BUCKET=
AWS_REGION=

# aws database
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# 로컬 개발용 URL
BACKEND_URL=
#BACKEND_URL=

# OpenAI API 키
OPENAI_API_KEY=

# 이미지 생성 및 수정 GPT 모델 지정
IMAGE_GEN_GPT_MODEL=
IMAGE_EDIT_GPT_MODEL=

# 이미지 생성 및 수정 DALL-E 모델 지정
IMAGE_GEN_DALLE_MODEL=
IMAGE_EDIT_DALLE_MODEL=

# 이미지 생성 및 수정에 따른 평가 모델 지정
IMAGE_JUDGE_GPT_MODEL=