# AWS Settings
S3_BUCKET=
AWS_REGION=

# aws database
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# 로컬 개발용 URL
BACKEND_URL=

# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_BUCKET=

# RunPod
RUNPOD_API_KEY=
RUNPOD_ENDPOINT_ID=

# Settings
TARGET_DATE=
SAVE_FILENAME=
MAX_WORKERS=
